.container {
    margin: 0 auto;
    max-width: 450px;
    width: 50%;
}

.media {
    height: 0;
    padding-top: 85%;
}

.backgroundNight {
    background-color: #320c4a;
    /* background-image: url('../../assets/images/astronomy-comet-constellation-631477.jpg'); */
}

.backgroundDay {
    background-color: #3a9fbf;
    /* background-image: url('../../assets/images/blue_skies.jpg'); */
}
